<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119066836643-pjemtq4at38e7qfbudeahom8gq8gbp8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119066836643-pjemtq4at38e7qfbudeahom8gq8gbp8n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>119066836643-7kp32mg16gd1a0bfglhmgagiqh7vcqd0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7-f-Xiah96iLt4ec-3JMgaqRAXD_Iv-w</string>
	<key>GCM_SENDER_ID</key>
	<string>119066836643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wahdapp.wahdapp</string>
	<key>PROJECT_ID</key>
	<string>wahdapp</string>
	<key>STORAGE_BUCKET</key>
	<string>wahdapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119066836643:ios:8c02edfbc276ffef5cc916</string>
	<key>DATABASE_URL</key>
	<string>https://wahdapp.firebaseio.com</string>
</dict>
</plist>